<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>o</key>
    <dict>
      <key>w</key>
      <integer>-42</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>o</key>
      <integer>-42</integer>
    </dict>
  </dict>
</plist>
