<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-241</integer>
        <key>width</key>
        <integer>9</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>517</integer>
        <key>width</key>
        <integer>13</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>727</integer>
        <key>width</key>
        <integer>15</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>Y: 103</key>
      <dict>
        <key>width</key>
        <integer>103</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>13</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>34</key>
          <integer>4</integer>
          <key>44</key>
          <integer>5</integer>
          <key>54</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 79</key>
      <dict>
        <key>width</key>
        <integer>79</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>19</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>45</key>
          <integer>4</integer>
          <key>57</key>
          <integer>5</integer>
          <key>70</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 126</key>
      <dict>
        <key>width</key>
        <integer>126</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>13</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>35</key>
          <integer>5</integer>
          <key>44</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 127</key>
      <dict>
        <key>width</key>
        <integer>127</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>13</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>35</key>
          <integer>5</integer>
          <key>44</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 140</key>
      <dict>
        <key>width</key>
        <integer>140</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>13</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>35</key>
          <integer>5</integer>
          <key>40</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>927</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1115</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1062</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1115</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1062</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>927</real>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>c</string>
    <string>o</string>
    <string>d</string>
    <string>f</string>
    <string>h</string>
    <string>i</string>
    <string>k</string>
    <string>l</string>
    <string>space</string>
    <string>m</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>e</string>
    <string>p</string>
    <string>a</string>
    <string>s</string>
    <string>j</string>
    <string>period</string>
    <string>b</string>
    <string>y</string>
    <string>n</string>
    <string>r</string>
    <string>A</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Z</string>
    <string>F</string>
    <string>Y</string>
    <string>z</string>
    <string>q</string>
    <string>g</string>
    <string>B</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>slash</string>
    <string>colon</string>
    <string>less</string>
    <string>equal</string>
    <string>question</string>
    <string>at</string>
    <string>bracketleft</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>Euro</string>
    <string>quotesinglbase</string>
    <string>florin</string>
    <string>quotedblbase</string>
    <string>ellipsis</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>circumflex</string>
    <string>perthousand</string>
    <string>Scaron</string>
    <string>guilsinglleft</string>
    <string>OE</string>
    <string>Zcaron</string>
    <string>quoteleft</string>
    <string>quotedblleft</string>
    <string>bullet</string>
    <string>endash</string>
    <string>emdash</string>
    <string>tilde</string>
    <string>trademark</string>
    <string>scaron</string>
    <string>guilsinglright</string>
    <string>oe</string>
    <string>zcaron</string>
    <string>Ydieresis</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>uni00AD</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>semicolon</string>
    <string>greater</string>
    <string>bracketright</string>
    <string>backslash</string>
    <string>quoteright</string>
    <string>quotedblright</string>
  </array>
</dict>
</plist>
