<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>f</key>
    <dict>
      <key>l</key>
      <integer>170</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>v</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>e</key>
      <integer>-24</integer>
    </dict>
  </dict>
</plist>
